<!-- Education and certifications -->
<!-- Education and certifications -->
{% extends "base.html" %}
{% block title %}ls ~/studies{% endblock %}
{% block content %}
<div class="terminal page-terminal">
    <div class="terminal-header">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
    </div>
    <div class="terminal-body">
        <div id="terminal-animation">
            <!-- Terminal animation will be inserted here by JavaScript -->
        </div>
        
        <!-- Content appears after animation -->
        <div id="content-container" style="display: none;">
            <pre class="studies-content">
╔════════════════════════════════════════════════════════════╗
║                    EDUCATION & STUDIES                  
╚════════════════════════════════════════════════════════════╝

                    -------- 

Title :      AWS Cloud Engineer      
Institution: Digital Career Institute
Location:    Berlin, Germany
Period:      2025 - 2026

Focus Areas:
• Cloud Architecture & IaC
• DevOps Automation & Containers
• Core Systems & Data
• Backend Development & Integration


                    -------- 

Title:       Bachelor degree in Political Science.   
Institution: University Santiago de Compostela
Location:    Santiago De Compostela, Spain
Period:      2009 - 2013

Focus Areas:
• Project Management Foundations
• Structured Research & Documentation
• Stakeholder Communication
• Studies in law, economics and philosophy.

                    -------- 


Title:       Associete Degree Comercial Management    
Institution: IES Zalaeta
Location:    A Coruna, Spain
Period:      2011 - 2014

Focus Areas:
• Project Management Foundations
• Structured Research & Documentation
• Stakeholder Communication
• Studies in law, economics and philosophy.

############################################################


[CERTIFICATIONS]
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
✓ AWS Certified Solutions Architect - Associate
  Issued: 2026
  In progress

✓ AWS Certified Cloud Practitioner
  Issued: 2026
  ID: View on Credly

✓ Certified Docker Associete (CKA)
  Issued: 2025
  ID: View on Credly

✓ HashiCorp Certified: Terraform Associate
  Issued: 2025
  ID: on progress

View all certifications:
→ credly.com/users/xurxo-astorgano

####################################################################


[LANGUAGES]
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
Spanish:     Native
Galician:    Native
English:     Full Professional Working Proficiency (C1/C2)
Portuguese:  Limited Proffesional Working Proficiency (B1)

              

            </pre>
        </div>  
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/unzip.js') }}"></script>
{% endblock %}
